
/* Universal style */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f27798;  /* 242, 119, 152 */
    --secondary-color: #1a7a5a; /* 26, 122, 90 */
    --tertiary-color: #50b5ad; /* 80, 181, 173 */
    --background-color: #e8e3e5; /* 232, 227, 229 */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    background-color: var(--background-color)
}

.section-title {
    font-size: 40px;
    color: var(--primary-color);
    border-right: 3px solid;
    min-width: 20%;
    border-color: var(--tertiary-color);
    padding: 20px 0 20px 0;
    margin: 15px 30px 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Header, Navigation, and Hero Style */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: var(--background-color);
    background-size: cover;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 50px;
    color: var(--tertiary-color);
}

header a {
    text-decoration: underline;
    font-weight: bold;
    color: var(--tertiary-color);
    font-size: 20px;
}

header nav {
    margin: 7px 0;
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
}

.hero {
    height: 500px;
    padding: 10px 10px 10px 10px;
    background-image: url(../images/flamingos-banner.png);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-position: center;
    background-color: var(--tertiary-color);
    color: var(--background-color);
    font-weight: bold;
    font-size: 40px;
}

/* About Me Section Style */

.flex-row {
    display: flex;
}

.bio-container {
    display: flex;
    padding: 20px 0 20px 0;
    align-items: center;
    color: var(--tertiary-color);
}

.bio-container img {
    max-height: 250px;   
}

.bio-content {
    padding: 0 20px 0 20px;
    line-height: 1.3;
}

/* Work Section Style */

.work-grid-container {
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    width: 75%;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.work-grid-item {
    border: solid var(--tertiary-color);
    display: flex;
    align-items: flex-end;
}

.work-grid-item h4 {
    background-color: var(--tertiary-color);
    padding: 10px 15px 10px 0;
    color: var(--background-color);
    font-size: smaller;
    width: 100px;
    margin: 0 0 10px 0;
    text-align: left;
    
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

/* Contact Me Section Style */

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
    width: 100%;   
}

.contact-info p {
    padding: 5px 5px 5px 5px;
    color: var(--tertiary-color);
    text-decoration: underline;
    font-size: 20px;
}

/* Footer Style */

footer {
    padding: 15px 15px;
    background-color: var(--tertiary-color);
    color: var(--background-color);
    font-weight: bold;
    text-align: center;
}


